@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=Nunito+Sans:opsz,wght@6..12,300&family=Roboto+Condensed:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Burned&family=Tilt+Neon&family=Varela+Round&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    scroll-behavior: smooth;
}


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}



header ul {
    display: flex;
    list-style-type: none;
}

header li {
    width: 200px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}


/* Div de Apresentação */
.apresentacao {
    display: flex;
    justify-content: space-around;
    height: 400px;
}

.img_topo {
    margin-right: -10%;
    width: auto;
    height: auto;
}

.texto_principal {
    margin: 0;
}

.texto_principal h2 {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 1.9rem;
}

.texto_principal h1 {
    font-family: "Zilla Slab", serif;
    font-weight: 200;
    font-style: normal;
    margin: -6%;
    font-size: 7rem;
    text-transform: uppercase;
}

.texto_principal .text_sec {
    margin: 2% 0 2% 0;
    text-transform: lowercase;
    font-family: cursive;

}

/* div como montar */
.como_montar {
    color: rgba(255, 255, 255, 0.899);
    display: flex;
    justify-content: space-around;
    background-color: rgba(2, 62, 2, 0.689);
    height: 600px;
}

.como_montar h2 {
    font-family: "Zilla Slab", serif;
    font-weight: 200;
    font-style: normal;
    margin: -3% 0 0 0;
    font-size: 5rem;
    text-transform: uppercase;
    width: 600px;
}

.como_montar_texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 6%;
}

.como_montar h3 {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 2.5rem;
}

.como_montar p {
    margin: 2% 0 2% 0;
    font-size: 1.4rem;
    width: 420px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 6%;
}

.terrario_butao_montar {
    background-color: rgba(130, 171, 25, 0.922);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: none;
    height: 12%;
    border-radius: 50px;
    font-size: 2rem;
}

.como_montar_texto {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.imagem-como-montar {
    margin: 2% 2% -9% 12%;
    display: flex;
    justify-content: center;
}

.imagem-como-montar img {
    width: 90%; 
    height: 100%;
    object-fit: cover;
}


/* PASSOS */

.passos {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 690px;
}

.passos_texto {
    display: flex;
    width: 100%;
    height: 60%;
    margin-top: 8%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.passo {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.passo h4 {
    font-family: "Zilla Slab", serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    display: flex;
    font-size: 2.6rem;
    text-transform: uppercase;
}

.passo p {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    font-size: 1.2rem;
    width: auto;
}

.passos button{
    margin-top: 2%;
    width: 25%;
}

/* DEPOIMENTOS JS*/
.depoimentos {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    background-color: rgba(2, 62, 2, 0.689);
    height: 600px;
}

.depoimentos-container {
    margin-top: 470px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.depoimento {
    width: 90%;
    box-sizing: border-box;
    text-align: center;
}

.depoimentos img {
    width: 100%;
    width: 80%;
    height: 540px;
    object-fit: cover;
}

#prev-button,
#next-button {
    background-color: transparent;
    border: none;
    cursor: pointer;

}

button .img_seta {
    position: absolute;
    z-index: 1;
    width: 120px;
    height: 230px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button {
    z-index: 99;
    margin-top: 41%;
    transform: rotate(180deg);
}

#next-button {
    z-index: 99;
}


/*GAP*/
.depoimento h4 {
    text-align: left;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10%;
    font-size: 1.2rem;
}

.depoimento p {
    margin-right: 10%;
    font-size: 1.2rem;
    float: right;
    
}

.depoimento_2 {
    margin-top: 20%;
    
}


/* OFERTA */

.oferta {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    width: 100%;
    margin-top: 40%;
    height: 500px;
}


.img_oferta img {
    margin-top: 9%;
    width: auto;
    height: auto;
}

.oferta h2 {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 2.3rem;
}

.oferta h1 {
    font-family: "Zilla Slab", serif;
    font-weight: 200;
    font-style: normal;
    margin: -3% 0 0 0;
    font-size: 7.2rem;
    text-transform: uppercase;
}

.oferta .text_sec_oferta {
    margin: 2% 0 2% 0;
    text-transform: lowercase;
    font-family: cursive;
    font-size: 2rem;

}

/* BOTÃO  */

.terrario_butao {
    background-color: rgba(111, 146, 21, 0.922);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: none;
    height: 70px;
    width: 310px;
    border-radius: 50px;
    font-size: 1.6rem;
}

@media screen and (max-width: 767px) {

    .terrario_butao button{
        width: auto;
    }
    header ul {
        font-size: 0.5rem;
        display: none;
    }

    .apresentacao {
        justify-content: space-between;
        overflow-x: hidden;
        width: 100%;
        height: 300px;
    }

    .apresentacao button {
        margin: 0 0 0 2%;
    }
    .img_topo{
        width: 70%;
    }
    .img_topo img {
        width: auto;
        height:70%;
        z-index: 99;
        margin: 0 0 0 -5%;
    }

    .texto_principal {
        align-items: center;
        justify-content: center;
        margin: 0 0 0 -5%;
    }

    .texto_principal h2 {
        font-size: 1.2rem;
    }

    .texto_principal h1 {
        margin: 0;
        font-size: 2rem;
    }

    .texto_principal .text_sec {
        font-size: 1.0rem;

    }

    .terrario_butao  {
        height: 50px;
        width: 90%;
        font-size: 1rem;
    }
/*COMO MONTAR*/
    .como_montar {
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 370px;
    }
    .como_montar button{
        width: 100%;
    }
    .como_montar h2 {
        margin: 0;
        font-size: 1.4rem;
        text-transform: uppercase;
        width: 100%;
    }
    
    
    .como_montar h3 {
        text-transform: uppercase;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 500;
        font-size: 0.7rem;
    }
    
    .como_montar p {
        margin: 6% 0 0 0;
        font-size: 0.9rem;
        width: 150px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 9%;
        word-break: keep-all;
    }
    
    .terrario_butao_montar {
        margin: 0;
        height: 50px;
        width: 100%;
        font-size: 0.8rem;
    }
    
    .como_montar_texto {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .imagem-como-montar img {
        width: 100%;
        height: 300px;
        margin-top: 40%;
        z-index: 1;
    }

/**/


.passos {
    height: 400px;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.passos_texto {
    width: auto;
    height: 200px;
    margin-top: 12%;
}
.passo img{
    width: 100%;
    height: 100%;
}

.passo .passo3{
    width: 99%;
    height: 120%;
}
.passo {
    width: auto;
}

.passo h4 {
    font-size: 1rem;
}

.passo p {
    margin: 0;
    font-size: 0.8rem;
    width: auto;
}

.passos button{
    margin-top: 8%;
    width: 80%;
}

/*DEPOIMENTO*/

.depoimentos {
    width: 100%;
    height: 250px;
}

.depoimentos-container {
    margin-top: 80%;
    gap: 4%;
}

.depoimento {
    width: auto;
}

.depoimentos img {
    
    width: 100px;
    height: 170px;
}

button .img_seta {
    z-index: 1;
    width: 20px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.botao_dir {
    z-index: 99;
    margin: -20% 5% 0 0;

}

.botao_esq {
    z-index: 99;
    transform: rotate(-180deg);
    margin: 0 0 32% 5%;
}


.depoimento h4 {
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    font-size: 0.8rem;
}

.depoimento p {
    margin-right: 10%;
    font-size: 0.6rem;
    float: right;
}




/*OFERTA*/


.oferta {
    overflow-x: hidden;
    width: 100%;
    height: 350px;
}
.inf_oferta{
    margin: 40% 0 10% 0;
    display: flex;
}

.texto_oferta{
    
    margin: 0 0 0 -5%;
}
.oferta button {
    margin: 2% 0 0 4%;
}

.img_oferta img {
    width: auto;
    height: 140px;
}

.oferta h2 {
    margin: 0;
    font-size: 0.8rem;
}

.oferta h1 {
    margin: 0;
    font-size: 1.5rem;
}

.oferta .text_sec_oferta {
    margin: 0;
    font-size: 0.7rem;

}
.oferta button{
    margin: 2%;
    font-size: 0.8rem;
    width: 80%;
}
}